.outer-wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  background-color: #f7f7f7;
  /* padding: 12px; */
  padding-right: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.help-button {
  background-color: #f7f7f7;
  border: 1px solid #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.help-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .help-modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .help-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  

.container {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding-inline: 16px;
  height: 100%;
  border-radius: 8px;
  overflow-y: auto;
}

.new-button {
  padding: 6px 12px;
  color: #000;
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.new-button:hover {
  background-color: #23c483;
  color: #fff;
}

.instruction-entry {
  padding-block: 1rem;
  border-bottom: 1px solid #c5c5c5;
}

.instruction-entry h3 {
  font-size: 16px;
  margin-block: 0.7rem;
}

.instruction-entry p {
  font-size: 14px;
  margin-block: 0.7rem;
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
}

.insert-button,
.edit-button,
.delete-button,
.back-button {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
}

.back-button {
  font-size: xx-large;
  padding: 0;
}

.sticky-buttons-container {
  position: sticky;
  top: 0;
  background: #f7f7f7;
}

.instruction-view p {
  font-size: 14px;
  line-height: 1.6;
}

/* FORM STYLES */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 16px;
}

.form-container label {
  font-size: 1.2em;
}

.input-group {
  margin-bottom: 16px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-textarea {
  resize: vertical;
}

.button-group {
  display: flex;
  gap: 16px;
}

.form-button {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.save-button:hover,
.cancel-button:hover {
  background-color: #f2f2f2;
}

/*MODAL STYLES*/
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/*SCROLLBAR STYLES*/
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 12px;
}

.container::-webkit-scrollbar-button {
  display: none;
}

.container {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 #f1f1f1;
}
